.vs/
x64/

*.txt
*.png
*.dds
*.cso
*.pdb
*.exe

client.exp

Engine.dll
Engine.lib
Engine.exp

EngineSDK/Debug/Inc/
EngineSDK/Release/Inc/

*.vcxproj merge=union
*.vcxproj.filters merge=union
*.sln merge=union