.vs/
x64/

*.txt
*.png
*.dds
*.cso
*.pdb
*.exe
*.fbx


Client.exp
Client.exe
Client.pdb

Editor.exp
Editor.exe
Editor.pdb

Engine.exp
Engine.exe
Engine.pdb

EngineSDK
EngineSDK/Debug/
EngineSDK/Release/

*.vcxproj merge=union
*.vcxproj.filters merge=union
*.sln merge=union