.vs/
x64/

*.txt
*.png
*.dds
*.cso
*.pdb
*.exe
*.fbx


Client.exp
Client.exe
Client.pdb

Editor.exp
Editor.exe
Editor.pdb

Engine.exp
Engine.exe
Engine.pdb



EngineSDK/Debug/Inc/
EngineSDK/Release/Inc/

*.vcxproj merge=union
*.vcxproj.filters merge=union
*.sln merge=union